# $WILDFLY_HOME/bin/jboss-cli.sh --file=/path/to/this/file.
connect
batch

## Add system properties
/system-property=production-path:add(value={{ production_path }})
/system-property=abacus-import-dir:add(value={{ abacus_import_dir }})
/system-property=abacus-export-dir:add(value={{ abacus_export_dir }})
/system-property=archive-spool-dir:add(value={{ archive_spool_dir }})
/system-property=archive-periodical-spool-dir:add(value={{ archive_periodical_spool_dir }})
/system-property=archive-other-spool-dir:add(value={{ archive_other_spool_dir }})
/system-property=archive-web-root:add(value={{ archive_web_root }})
/system-property=archive-web-user:add(value={{ archive_web_user }})
/system-property=archive-web-password:add(value={{ archive_web_password }})

## Create a module
module add --name=com.mysql --resources=/tmp/mysql-connector-java-5.1.35.jar --dependencies=javax.api,javax.transaction.api

## Add JDBC driver
/subsystem=datasources/jdbc-driver=mysql:add(driver-name=mysql,driver-module-name=com.mysql,driver-class-name=com.mysql.jdbc.Driver,driver-xa-datasource-class-name=com.mysql.jdbc.jdbc2.optional.MysqlXADataSource)

## Add the productions datasource
xa-data-source add \
  --name=productions \
  --driver-name=mysql \
  --xa-datasource-class=com.mysql.jdbc.jdbc2.optional.MysqlXADataSource \
  --jndi-name=java:jboss/datasources/productions \
  --user-name={{ database_user }} \
  --password={{ madras2_db_password }}

/subsystem=datasources/xa-data-source=productions/xa-datasource-properties=ServerName:add(value={{ database_server }})
/subsystem=datasources/xa-data-source=productions/xa-datasource-properties=DatabaseName:add(value={{ database_name }})
/subsystem=datasources/xa-data-source=productions/xa-datasource-properties=PortNumber:add(value={{ database_port }})

## Add the archive datasource
xa-data-source add \
  --name=archive \
  --driver-name=mysql \
  --xa-datasource-class=com.mysql.jdbc.jdbc2.optional.MysqlXADataSource \
  --jndi-name=java:jboss/datasources/archive \
  --user-name={{ archive_database_user }} \
  --password={{ madras2_db_password }}

/subsystem=datasources/xa-data-source=archive/xa-datasource-properties=ServerName:add(value={{ archive_database_server }})
/subsystem=datasources/xa-data-source=archive/xa-datasource-properties=DatabaseName:add(value={{ archive_database_name }})
/subsystem=datasources/xa-data-source=archive/xa-datasource-properties=PortNumber:add(value={{ archive_database_port }})

## Make the management web interface visible
/interface=management:undefine-attribute(name=inet-address)
/interface=management:write-attribute(name=any-address,value=true)
/interface=public:undefine-attribute(name=inet-address)
/interface=public:write-attribute(name=any-address,value=true)

reload
run-batch
