#!/bin/bash

# Push productions notifications from the abacus machine to Daisproducer2.
# Use curl to send HTTP push for each notification. If the request
# returns 200 or 201 all is well and the xml file can be moved to the
# processed dir. Otherwise echo the result which contains a
# description of the problem.

SPOOL_DIR=/var/spool/daisyproducer
HOST=localhost
URL=http://${HOST}/api/abacus/import
REGEXP="^HTTP/1.1 (200 OK|201 Created)"
FILES="${SPOOL_DIR}/SN_Alfresco_*.xml"

# make sure only one instance of this script is run
[ "${FLOCKER}" != "$0" ] && exec env FLOCKER="$0" flock -en "$0" "$0" "$@" || :

for file in $FILES ; do
    if [ -e "$file" ] ; then # make sure it isn't an empty match
	# drop files that aren't meant for daisyproducer2
	grep --quiet "<daisy_producer>nein</daisy_producer>" "$file" && rm -f "$file" && continue
        RESULT=$(curl -i -X 'POST' $URL -H 'accept: application/json' -H 'Content-Type: multipart/form-data' -F "file=@${file};type=text/xml" --silent --fail --show-error)
	if echo "$RESULT" | grep --extended-regexp --quiet "$REGEXP"
	then mv "$file" $SPOOL_DIR/processed/
	else
	    echo >&2 "Moving file to $SPOOL_DIR/invalid/"
	    mv "$file" "$SPOOL_DIR"/invalid/
	    printf >&2 '\n%s\n%s\n\n' "Daisproducer2 response:" "$RESULT"
	    grep --extended-regexp >&2 \
		 'artikel_nr|identifier|date|title|idVorstufe|process_status' \
		 $SPOOL_DIR/invalid/${file##*/}
	    echo >&2 "========================================="
	fi
    fi
done
