#!/bin/sh

exec 2>&1
exec /opt/adoptium/java17/bin/java -Xmx2G -Dconf=/etc/daisyproducer2/config.edn -Dlogback.configurationFile=/etc/daisyproducer2/logback.xml -jar {{daisyproducer2_install_dir}}/daisyproducer2.jar
