# General configuration for the init.d scripts,
# not necessarily for JBoss AS itself.
# default location: /etc/default/wildfly

## Location of JDK
{# Debian Wheezy (i.e. Debian 7) only has Java 7 so we have to install Oracle Java manually #}
{% if ansible_lsb.major_release|int >= 8 %}
JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"
{% else %}
JAVA_HOME="/opt/jdk1.8.0_111"
{% endif %}

## Location of WildFly
JBOSS_HOME="{{ wildfly_prefix }}/wildfly"

## The username who should own the process.
JBOSS_USER={{ wildfly_user }}

## The mode WildFly should start, standalone or domain
JBOSS_MODE=standalone

## Configuration for standalone mode
JBOSS_CONFIG=standalone-full.xml

## Configuration for domain mode
# JBOSS_DOMAIN_CONFIG=domain.xml
# JBOSS_HOST_CONFIG=host-master.xml

## The amount of time to wait for startup
STARTUP_WAIT=60

## The amount of time to wait for shutdown
SHUTDOWN_WAIT=60

## Location to keep the console log
JBOSS_CONSOLE_LOG="/var/log/wildfly/console.log"
