server {
    listen 80;
{# for the production server we also need to define a server name kati.sbszh.ch #}
    server_name {% if ansible_host == "kati01" %}kati.sbszh.ch {% endif %}{{ ansible_host }}.sbszh.ch;

    client_max_body_size 100M;

    location / {
	proxy_buffering off;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header Host $host;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

	proxy_pass http://localhost:3000;
    }
}
