{:port 3000

 :database-url "mysql://db.sbszh.ch:3309/{{ daisyproducer_db_name }}?user=daisyproducer&password={{ daisyproducer_db_password }}"
 :hyphenation-db-url "mysql://db.sbszh.ch:3309/hyphenation_test?user=hyphenation&password=MhsksatMN123k"

 :document-root "/srv/{{ ansible_host }}.sbszh.ch/daisyproducer/daisyproducer/archive/"

 :ldap-address "ipa01.sbszh.ch"

 ; where to place the whitelists
 :tables-dir "/usr/local/share/liblouis/tables"

 ; secret to generate the jwt token, see
 ; https://stackoverflow.com/a/62779478
 ; generated with openssl rand -hex 20
 :jwt-secret "{{ dp2_jwt_secret }}"

}
