{:port 3000

 :database-url "mysql://db.sbszh.ch:3309/{{ daisyproducer_db_name }}?user=daisyproducer&password={{ daisyproducer_db_password }}"
 :hyphenation-db-url "mysql://db.sbszh.ch:3309/hyphenation_test?user=hyphenation&password=MhsksatMN123k"

 :document-root "/srv/{{ ansible_host }}.sbszh.ch/daisyproducer/daisyproducer/archive/"
}
