
server {
    root /usr/share/nginx/www;
    index index.html index.htm;

    server_name daisy.org www.daisy.org;

    access_log /var/log/nginx/{{ role_name }}_access.log;
    error_log /var/log/nginx/{{ role_name }}_error.log;

    # since daisy.org changed their website we can no longer properly
    # access http://www.daisy.org/z3986/2005/dtbook-2005-3.dtd (which
    # is in the DOCTYPE). So most of our xml processing is hosed. As a
    # gross workaround we redirect all traffic to daisy.org to the
    # local machine (via an entry in /etc/hosts) and serve the dtd
    # locally.
    location /z3986/2005/ {
        alias /usr/share/xml/dtbook/;
	autoindex on;
    }

}
